<div class="publishContainer">
    <textarea class="msgTextArea" id="txtMessage" data-bind="value: newMessage, jqAutoresize: {}" style="height:3em;" placeholder="Add new article"></textarea>
    <input type="button" value="Share" id="btnShare" data-bind="click: addArticle">
</div>